<ion-header>
  <ion-toolbar>
    <ion-title>
      Input Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Text Input con icono de stats -->
    <ion-item>
      <ion-input label="Text input" placeholder="Enter text">
        <ion-icon name="stats" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <!-- Otros elementos de entrada -->
    <ion-item>
      <ion-input label="Text input" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Number input" type="number" placeholder="0979559344"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Password input" type="password" value="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email input" type="email" placeholder="evelyn.merchant@ug.edu.ec"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Telephone input" type="tel" placeholder="888-888-8888"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
